:root {
    --darkblue: #31343D;
    --lightblue: #92CCCD;
    --content-header-blue:#445876;
    
  }

* {
    box-sizing: border-box;


  }

body {
    background-color: #EDEEF6;
}  
  

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--darkblue);
    color: #ffffff;

}

.main-header h1 {
    background-color: var(--lightblue);
    color: #31343D;
    display: inline-block;
    font-size: 48px;
}

.main-header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.main-header nav ul {
    list-style-type: none;
}

.main-header nav ul li {

    display: inline-block;
    margin-left: 25px;
}

.main-header nav ul li a{
    color : var(--lightblue);
    font-size: 24px;
}

.banner {
    display: flex;
    justify-content: flex-end;
    background-image: url("../images/banner.jpg");
    margin-top: -25px;
}
.banner h2{
    background-color:var(--lightblue);
    color: var(--darkblue);
    float:right;
    margin-right:25px;
    margin-top:100px;
    font-size: 48px;
}

main {
    display: flex;
    flex-flow: column;
}

.content-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
.content-header {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0;
    border-right: 5px solid var(--content-header-blue);
    font-size:36px;
    color: var(--content-header-blue);
    max-width:25%;
    margin-right: 25px;
}

.content-container h2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-right:5px;
    width: 200px;
}


.content {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;

}

#work .content-container {
    flex-wrap: wrap;

}
#work .content {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width:50%;
    /* flex: 0 1 none; */
}

#work .content img{
    display: flex;
    order: 2;
    /* flex: 1 1 none; */
    border: 10px solid var(--lightblue);
    min-width: 40px;
    max-height: 250px;
}
.project-name {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:absolute;
    background-color: var(--lightblue);
    color: var(--darkblue);
    margin-left: 10px;
    margin-bottom: 15px;
    padding-right:10px;
    padding-left: 10px;

}

#work .content h3 {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;


}

#work .content p {
    display: flex;
    align-self: flex-start;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}